<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.dotfiles.Daemon</string>
        <key>Program</key>
        <string>/usr/local/bin/dotfiles</string>
        <key>ProgramArguments</key>
        <array>
            <string>dotfiles</string>
            <string>daemon</string>
        </array>
        <key>KeepAlive</key>
        <true/>
    </dict>
</plist>