Package: fig
Description: Fig for Linux
Maintainer: Grant Gurvis <grant@fig.io>
Homepage: https://fig.io
Version: $VERSION
Architecture: amd64
Depends: libwebkit2gtk-4.0-37, libgtk-3-0, libappindicator3-1, ibus

