## User settings
xcuserdata/

## gcc Patch
/*.gcno

# Swift Package Manager
fig.xcodeproj/**
!fig.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

fig.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist

# Misc
.DS_Store
node_modules/
.eslintcache
yarn-error.log

dotenv/docker-compose.yaml

# Ignore all compiled protobuf artifacts
**/*.pb.*

target/
