## User settings
xcuserdata/

## gcc Patch
/*.gcno

# Misc
.DS_Store
node_modules/
.eslintcache
yarn-error.log
yarn.lock
package-lock.json
*.info
*.swp
*.swo
*.pending-snap

# Ignore all compiled protobuf artifacts
**/*.pb.ts

target/
build/
.vscode/
.fleet/
bin/
