## User settings
xcuserdata/

## gcc Patch
/*.gcno

# Swift Package Manager
fig.xcodeproj/**
!fig.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# Misc
.DS_Store
node_modules/
.eslintcache
yarn-error.log
