[submodule "figterm/libvterm"]
	path = figterm/libvterm
	url = https://github.com/neovim/libvterm
	ignore = untracked
[submodule "BlueSocket"]
	path = BlueSocket
	url = https://github.com/Kitura/BlueSocket
