<?xml version='1.0'?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include fig.wxi?>

    <Bundle
        IconSourceFile="fig_desktop/icons/fig.ico"
        Manufacturer="Fig"
        Name="Fig"
        UpgradeCode="A520E35f-9715-4891-B63D-4FFCFC7FAEC6"
        Version="$(var.Version)"
    >
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense"/>
        <Chain>
            <MsiPackage DisplayName="Fig CLI" SourceFile="target/wix/fig_cli.msi"/>
            <MsiPackage DisplayName="Fig Desktop" SourceFile="target/wix/fig_desktop.msi"/>
            <MsiPackage DisplayName="Fig Pseudoterminal" SourceFile="target/wix/figterm.msi"/>
        </Chain>
    </Bundle>
</Wix>
