Package: fig
Description: Fig for Linux
Maintainer: Grant Gurvis <grant@fig.io>
Homepage: https://fig.io
Version: $VERSION
Architecture: amd64
Conflicts: fig-headless
Depends: libwebkit2gtk-4.0-37, libgtk-3-0, libayatana-appindicator3-1, libayatana-appindicator3-dev, ibus, util-linux
