* {
    caret-color: ansi(7);
    color: ansi(7);
}

div {
    width: 100;
}

input, select {
    padding-left: 1;
    padding-right: 1;
    width: 100;
}

.parameter {
    border-color: ansi(8);
    border-style: ascii ┌ ─ ┐ │ │ └ ─ ┘;
    border-width: 1;
}

:hover {
    border-color: ansi(4);
}

.parameter:focus {
    border-color: ansi(3);
}

.description, .keybindings {
    padding-left: 1;
    padding-right: 1;
    display: none;
}

div:focus > .description, div:focus > .keybindings {
    display: block;
}

.view {
    padding-top: 1;
    padding-bottom: 1;
    padding-left: 2;
    padding-right: 2;
}

.header {
    margin-bottom: 1;
}

.footer {
    margin-top: 1;
    display: none;
}

div:focus > .footer {
    display: block;
}

.label {
    margin-left: 1;
    margin-top: -1;
    padding-left: 1;
    padding-right: 1;
}
