* {
    caret-color: ansi(7);
    color: ansi(7);
}

hr {
    width: 100;
    color: ansi(8);
}

input, select {
    width: 100;
    margin-left: 1;
    margin-right: 1;
}

.view {
    padding-top: 1;
    padding-bottom: 1;
    padding-left: 2;
    padding-right: 2;
}

.header {
    margin-bottom: 1;
}

.parameter {
    border-width: 1;
    border-color: ansi(8);
    border-style: ascii ┌ ─ ┐ │ │ └ ─ ┘;
}

.parameter:hover {
    border-color: ansi(4);
}

.parameter:focus {
    border-color: ansi(3);
}

.label {
    padding-left: 1;
    padding-right: 1;
    margin-left: 1;
    margin-top: -1;
}

hr,
.description {
    display: none;
    margin-left: 1;
    margin-right: 1;
}

div:focus > hr,
div:focus > .description {
    display: block;
}

.keybindings-div {
    width: 104;
    justify-content: right;
}

.keybindings {
    display: none;
    padding-left: 1;
    padding-right: 1;
    margin-top: -1;
    margin-right: 2;
}

:focus + div .keybindings {
    display: block;
}

.footer {
    margin-top: 1;
    display: none;
}

div:focus > .footer {
    display: block;
}
