<?xml version='1.0'?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include ../fig.wxi?>

    <Product
        Id="*"
        Language='1033'
        Manufacturer="Fig"
        Name="Fig CLI"
        UpgradeCode="76C5808F-F1D1-4CEA-8C20-A6A4EC7FD80C"
        Version="$(var.Version)"
    >
        <Package
            Compressed="yes"
            Description="Fig CLI let's users interact with fig directly from their terminal"
            Id="*"
            InstallerVersion="450"
            InstallPrivileges="limited"
            InstallScope="perUser"
            Manufacturer="Fig"
        />

        <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit"/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Fig CLI Installation'/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="LocalAppDataFolder">
                <Directory Id="FIGROOT" Name="Fig">
                    <Directory Id="TargetFolder" Name="$(var.Version)">
                        <Component Guid="C97F05C2-903C-424C-8745-07773F295AC9" Id="FigCLI">
                            <RegistryValue
                                Key="Software\Fig\FigCLI"
                                KeyPath="yes"
                                Name="InstallFolder"
                                Root="HKCU"
                                Type="string"
                                Value="[INSTALLFOLDER]"
                            />
                            <File
                                Name="fig.exe"
                                Source="target/release/fig_cli.exe"
                            />
                            <RemoveFolder
                                Id="RemoveTargetFolder"
                                Directory="TargetFolder"
                                On="uninstall"
                            />
                            <RemoveFolder
                                Id="RemoveFIGROOT"
                                Directory="FIGROOT"
                                On="uninstall"
                            />
                            <Environment
                                Id="AddToPath"
                                Name="PATH"
                                Value="[FIGROOT]latest"
                                Permanent="no"
                                Part="last"
                                Action="set"
                                System="no"
                            />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="Install">
            <ComponentRef Id="FigCLI"/>
        </Feature>

        <CustomAction
            Id="PrepQuitFig"
            Property="WixQuietExecCmdLine"
            Value='"[#fig.exe]" quit'
        />
        <CustomAction
            Id="QuitFig"
            BinaryKey="WixCA"
            DllEntry="WixQuietExec"
            Return="ignore"
        />
        <CustomAction
            Id="PrepInstallIntegrations"
            Property="WixQuietExecCmdLine"
            Value='"[#fig.exe]" install --dotfiles --no-confirm'
        />
        <CustomAction
            Id="InstallIntegrations"
            BinaryKey="WixCA"
            DllEntry="WixQuietExec"
        />
        <CustomAction
            Id="PrepUninstallIntegrations"
            Property="WixQuietExecCmdLine"
            Value='"[#fig.exe]" _ uninstall --dotfiles'
        />
        <CustomAction
            Id="UninstallIntegrations"
            BinaryKey="WixCA"
            DllEntry="WixQuietExec"
            Return="ignore"
        />
        <CustomAction
            Id="PrepCreateJunction"
            Property="WixQuietExecCmdLine"
            Value='"cmd" /c mklink /J "[FIGROOT]latest" "[FIGROOT]$(var.Version)"'
        />
        <CustomAction
            Id="CreateJunction"
            BinaryKey="WixCA"
            DllEntry="WixQuietExec"
        />
        <CustomAction
            Id="PrepRemoveJunction"
            Property="WixQuietExecCmdLine"
            Value='"cmd" /c rmdir "[FIGROOT]latest" /q'
        />
        <CustomAction
            Id="RemoveJunction"
            BinaryKey="WixCA"
            DllEntry="WixQuietExec"
            Return="ignore"
        />

        <InstallExecuteSequence>
            <Custom Action="PrepQuitFig" Before="QuitFig">REMOVE~="ALL"</Custom>
            <Custom Action="QuitFig" Before="PrepRemoveJunction">REMOVE~="ALL"</Custom>
            <Custom Action="PrepRemoveJunction" Before="RemoveJunction">REMOVE~="ALL"</Custom>
            <Custom Action="RemoveJunction" Before="PrepUninstallIntegrations">REMOVE~="ALL"</Custom>
            <Custom Action="PrepUninstallIntegrations" Before="UninstallIntegrations">REMOVE~="ALL"</Custom>
            <Custom Action="UninstallIntegrations" Before="InstallInitialize">REMOVE~="ALL"</Custom>
            <Custom Action="PrepInstallIntegrations" After="InstallFinalize">NOT Installed AND NOT PATCH</Custom>
            <Custom Action="InstallIntegrations" After="PrepInstallIntegrations">NOT Installed AND NOT PATCH</Custom>
            <Custom Action="PrepCreateJunction" After="InstallIntegrations">NOT Installed AND NOT PATCH</Custom>
            <Custom Action="CreateJunction" After="PrepCreateJunction">NOT Installed AND NOT PATCH</Custom>
        </InstallExecuteSequence>
    </Product>
</Wix>
